@model PaginatedList<FormSubmissionDemo.Models.Users.ProfileItem>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var profile in Model)
    {
      <tr>
        <td>
          <input type="checkbox" value="@profile.Id">
        </td>
        <td class="js-text">@profile.Name</td>
      </tr>
    }
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="page-item @(!Model.HasPreviousPage ? "disabled": string.Empty)"><a class="page-link" href="@Url.Action(nameof(UsersController.AjaxProfileList), new { page = Model.PageIndex - 1})">Previous</a></li>
    @for (var pageNo = 1; pageNo <= Model.TotalPages; pageNo++)
    {
      <li class="page-item @(pageNo == Model.PageIndex ? "active": string.Empty)"><a class="page-link" href="@Url.Action(nameof(UsersController.AjaxProfileList), new { page = pageNo})">@pageNo</a></li>
    }
    <li class="page-item @(!Model.HasNextPage ? "disabled": string.Empty)"><a class="page-link" href="@Url.Action(nameof(UsersController.AjaxProfileList), new { page = Model.PageIndex + 1})">Next</a></li>
  </ul>
</nav>